*
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  user-select: none;
}

.todo-app
{
  background-color: #333;
  color: #fff;
  width: 400px;
  margin: auto;
}

.todo-app-header
{
  border-bottom: 1px solid rgba(255,255,255,.5);
  padding: 15px;
}

.todo-list
{
  padding: 0;
  list-style: none;
}

.todo-item
{
  padding: 10px;
}

.add-todo
{
  background-color: #fff;
  color: #333;
  padding: 3px;
  text-decoration:none;
}

.add-todo-form
{
  padding: 10px;
}

.add-todo-input
{
  width: 100%;
  padding: 5px;
  outline: 0;
  border: 2px solid #ED7F10;
  font-size: 20px;
}

.todo-done
{
  text-decoration: line-through;
}